:root {
  --main-title-color: #212121;
  --secondary-title-color: #ffffff;
  --main-text-color: #757575;
  --accent-color: #2196f3;
}
body {
  font-family: "Roboto", sans-serif;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.link {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

section {
  padding-bottom: 94px;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/*-----HEADER-----*/
.header {
  border-bottom: 1px solid #ececec;
}
.nav-container {
  display: flex;
  align-items: center;
}
.header-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.header-accent {
  color: #000000;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.header-list {
  display: flex;
  margin-left: 93px;
}

.header-list .header-item + .header-item {
  margin-left: 50px;
}
.header-list .link.current {
  color: var(--accent-color);
}
.header-item {
  position: relative;
}
.header-line.current {
  position: absolute;
  transform: translateY(-100%);
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-right {
  display: flex;
  margin-left: auto;
}

.header-right .contacts-item + .contacts-item {
  margin-left: 50px;
}

.header-link-contacts:hover,
.header-link-contacts:focus {
  color: var(--accent-color);
}
.icon-mail,
.icon-tel {
  display: inline-block;
  margin-right: 10px;
  fill: currentColor;
}
.header-link-contacts {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-navigation {
  display: flex;
}
.header-logo.link {
  padding-top: 24px;
  padding-bottom: 25px;
}

/*-----HERO-----*/

.hero-section {
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;
}
.overlay {
  max-width: 1600px;

  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/imghero.jpg);

  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  max-width: 696px;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--secondary-title-color);
}

.btn {
  color: #ffffff;
  background-color: var(--accent-color);
  padding: 10px 32px 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  background-color: #188ce8;
}
/*-----BENEFITS-----*/
.benefits-list {
  display: flex;
}
.benefits-list .benefits-item + .benefits-item {
  margin-left: 30px;
}
.benefits-item {
  width: 270px;
}
.benefits-section {
  margin-top: 0px;
  padding-top: 94px;
}
.benefits-item-header {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
}
.benefits-item-text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.benefits-item::before {
  display: block;
  content: "";
  margin-bottom: 30px;
  height: 120px;

  background-size: contain;
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
}
.icon-antenna::before {
  background-image: url(../img/benefit1.svg);
}

.icon-clock::before {
  background-image: url(../img/benefit2.svg);
}

.icon-plan::before {
  background-image: url(../img/benefit3.svg);
}

.icon-astronaut::before {
  background-image: url(../img/benefit4.svg);
}

/*-----WORK-----*/

.work-section {
  margin-top: 0px;
}

.work-list {
  display: flex;
}

.work-item {
  position: relative;
  width: 370px;
}

.work-list .work-item + .work-item {
  margin-left: 30px;
}

.work-header {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.work-box {
  margin: 0px;

  position: absolute;

  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  padding-top: 27px;
  left: 0;
  bottom: 0;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

/*-----COMMAND-----*/
.command-section {
  background-color: #f5f4fa;
  padding-top: 94px;
}

.command-list {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
}

.command-list .command-item + .command-item {
  margin-left: 30px;
}
.command-item {
  background-color: #ffffff;
  width: 270px;
}
.command-header {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}
.command-item-header {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}
.command-item-text {
  margin-top: 0px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.command-item-member {
  padding-top: 30px;
  padding-bottom: 30px;
}
.command-socials {
  display: flex;
  justify-content: center;
}
.socials-item {
  width: 44px;
  height: 44px;
}
.socials-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-item:not(:last-child) {
  margin-right: 10px;
}
.socials-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:focus .socials-icon,
.socials-link:hover .socials-icon {
  fill: #ffffff;
}

.socials-link:focus,
.socials-link:hover {
  background-color: var(--accent-color);
}

/*-----CLIENTS-----*/

.clients-section {
  padding-top: 94px;
}

.clients-list {
  display: flex;
}
.clients-header {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.clients-item {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item:hover .clients-icon,
.clients-item:focus .clients-icon {
  fill: var(--accent-color);
}

.clients-item:hover,
.clients-item:focus {
  border-color: var(--accent-color);
}

.clients-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*----FOOTER------*/

p {
  margin: 0px 0px 0px 0px;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.footer-accent {
  color: #ffffff;
}

.address {
  font-style: normal;
}

.footer-address {
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.mail-li {
  margin-bottom: 9px;
}
.footer-mail,
.footer-tel {
  display: block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-socials {
  display: flex;
}
.footer-text {
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-socials-box {
  display: block;
  margin-left: 70px;
}
.footer-socials-item {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer-socials-item:not(:last-child) {
  margin-right: 10px;
}

.address-container {
  padding-right: 0px;
}

.footer-socials-icon {
  fill: #ffffff;
}

.form-box {
  display: block;
  margin-left: 93px;
}

.mailing-form {
  position: relative;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.mailing-input {
  width: 100%;
  height: 100%;

  background-color: #2f303a;
  border: none;

  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
}

.mailing-button {
  position: absolute;
  top: 0;
  right: -212px;
  width: 200px;
  height: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.mailing-text {
  position: absolute;
  left: 29px;
  top: 10px;
}
.mailing-svg {
  position: absolute;
  left: 148px;
  top: 13px;
}

/*-----PORTFOLIO-----*/
h3 {
  margin: 0px 0px 0px 0px;
}
.section-portfolio {
  padding-top: 94px;
}

.btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.btn-item-list + .btn-item-list {
  margin-left: 8px;
}
.btn-item {
  padding: 6px 22px 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  border: currentColor;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-item:hover,
.btn-item:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.works-container {
  padding: 20px 24px 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.works-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.works-hover {
  position: relative;
  width: 100%;

  overflow: hidden;
}

.works-hover-text {
  position: absolute;
  padding: 63px 24px 63px 24px;
  top: 0;
  left: 0;
  height: 100%;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-link:hover .works-hover-text {
  transform: translateY(0%);
  opacity: 1;
}

.works-item:nth-child(3n) {
  margin-right: 0px;
}
.works-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.works-list {
  display: flex;
  flex-wrap: wrap;
}

.works-item-header {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}

.works-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.works-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.works-link:hover,
.works-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/*-----BACKDROP-----*/
.backdrop {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms, visibility 250ms;
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.btn-close {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: #ffffff;

  position: absolute;
  right: 8px;
  top: 8px;
}

.icon-close {
  position: absolute;
  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.icon-close:hover {
  fill: var(--accent-color);
}

.modal-title {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}
.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-label {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.input-wrap {
  display: block;
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
}

.modal-form-input:focus {
  border-color: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 15px;
  top: 14px;
  fill: #212121;
}

.modal-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px 12px 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #000000;
  resize: none;
  outline: none;
}

.modal-comment:focus {
  border-color: var(--accent-color);
}

.modal-comment::placeholder {
  font-size: 14px;
}

.check-link {
  white-space: pre;
  color: var(--accent-color);
}

.check-label {
  display: flex;
  align-items: center;
  margin-left: 12px;
}

.icon-check {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.svg-check {
  width: 11px;
  height: 8px;
}

.check-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox:checked + .check-label > .icon-check {
  background-color: var(--accent-color);
  border: none;
}

.form-button {
  display: block;
  margin: 0 auto;
  border: none;
}
